# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json
/.pack
/.idea

# project out
/build
/bin
/obj
/out
/DebugConfig

# eide template
*.ept
*.eide-template
*.uvguix.*
AK_motor_demo.uvprojx
AK_motor_demo.uvoptx
